In [6]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns 
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split , GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import pickle

In [7]:
print('numpy' , np.__version__)
print('pandas' , pd.__version__)
print('sklearn' , sklearn.__version__)

numpy 1.26.4
pandas 2.2.2
sklearn 1.4.2

In [8]:
data = pd.read_csv(r"C:\Users\TheUnseenVlogs\Downloads\Data Analysis Project\Loan_Approval_Deployment\credit_risk_dataset.csv")
data

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [9]:
data = data.dropna()
data

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [10]:
data['loan_intent_duplicate'] = data['loan_intent'].apply(lambda x:0 if x == 'EDUCATION' else 1  if x == 'MEDICAL' else 2 if x =='VENTURE' else 3 if x == 'PERSONAL' else 4 if x == 'DEBTCONSOLIDATION' else 5)
data['loan_grade_duplicate'] = data['loan_grade'].apply(lambda x:0 if x == 'A' else 1  if x == 'B' else 2 if x=='C' else 3 if x == 'D' else 4 if x == 'E' else 5 if x == 'F' else 6)                                                                               
data['default_file'] = data['cb_person_default_on_file'].apply(lambda x:0 if x == 'N' else 1)
data['home_ownership'] = data['person_home_ownership'].apply(lambda x:0 if x == 'RENT' else 1  if x == 'OWN' else 2 if x=='MORTAGE' else 3)

C:\Users\TheUnseenVlogs\AppData\Local\Temp\ipykernel_10196\686422791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['loan_intent_duplicate'] = data['loan_intent'].apply(lambda x:0 if x == 'EDUCATION' else 1  if x == 'MEDICAL' else 2 if x =='VENTURE' else 3 if x == 'PERSONAL' else 4 if x == 'DEBTCONSOLIDATION' else 5)
C:\Users\TheUnseenVlogs\AppData\Local\Temp\ipykernel_10196\686422791.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['loan_grade_duplicate'] = data['loan_grade'].apply(lambda x:0 if x == 'A' else 1  if x == 'B' else 2 if x=='C' else 3 if x == 'D' else 4 if x == 'E' else 5 if x == 'F' else 6)
C:\Users\TheUnseenVlogs\AppData\Local\Temp\ipykernel_10196\686422791.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['default_file'] = data['cb_person_default_on_file'].apply(lambda x:0 if x == 'N' else 1)
C:\Users\TheUnseenVlogs\AppData\Local\Temp\ipykernel_10196\686422791.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['home_ownership'] = data['person_home_ownership'].apply(lambda x:0 if x == 'RENT' else 1  if x == 'OWN' else 2 if x=='MORTAGE' else 3)

In [11]:
data

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_intent_duplicate,loan_grade_duplicate,default_file,home_ownership
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3,3,3,1,0
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2,0,1,0,1
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3,1,2,0,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2,1,2,0,0
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30,3,2,0,3
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19,3,0,0,3
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28,5,1,0,0
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26,3,1,0,3
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30,1,1,0,0

In [12]:
data = data.drop(['person_home_ownership','loan_intent', 'loan_grade' ,'cb_person_default_on_file'],axis =1)

In [13]:
data

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,loan_intent_duplicate,loan_grade_duplicate,default_file,home_ownership
0,22,59000,123.0,35000,16.02,1,0.59,3,3,3,1,0
1,21,9600,5.0,1000,11.14,0,0.10,2,0,1,0,1
2,25,9600,1.0,5500,12.87,1,0.57,3,1,2,0,3
3,23,65500,4.0,35000,15.23,1,0.53,2,1,2,0,0
4,24,54400,8.0,35000,14.27,1,0.55,4,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,1.0,5800,13.16,0,0.11,30,3,2,0,3
32577,54,120000,4.0,17625,7.49,0,0.15,19,3,0,0,3
32578,65,76000,3.0,35000,10.99,1,0.46,28,5,1,0,0
32579,56,150000,5.0,15000,11.48,0,0.10,26,3,1,0,3
32580,66,42000,2.0,6475,9.99,0,0.15,30,1,1,0,0

In [14]:
data.columns

Index(['person_age', 'person_income', 'person_emp_length', 'loan_amnt',
       'loan_int_rate', 'loan_status', 'loan_percent_income',
       'cb_person_cred_hist_length', 'loan_intent_duplicate',
       'loan_grade_duplicate', 'default_file', 'home_ownership'],
      dtype='object')

In [15]:
X = data[['person_age', 'person_income', 'person_emp_length', 'loan_amnt',
       'loan_int_rate','loan_percent_income',
       'cb_person_cred_hist_length', 'loan_intent_duplicate',
       'loan_grade_duplicate', 'default_file', 'home_ownership']]

In [16]:
Y = data[['loan_status']]

In [17]:
X_test , X_train , Y_test , Y_train = train_test_split(X,Y,test_size=0.8 ,random_state=42)

In [18]:
#Hpyer Parameter Tuning :-

param_grid = {
    'n_estimators' : [100,200,300],
    'max_depth' : [None , 10 ,20, 30],
    'min_samples_split' : [2,5,10],
    'min_samples_leaf' : [1,2,4]
}

In [19]:
rfc = RandomForestClassifier(random_state=42)

In [20]:
grid_search = GridSearchCV(estimator=rfc , param_grid=param_grid , cv=5 , n_jobs=-1 ,verbose=2)
grid_search.fit(X_train,Y_train)

best_rfc = grid_search.best_estimator_

Fitting 5 folds for each of 108 candidates, totalling 540 fits

c:\Users\TheUnseenVlogs\Downloads\Software\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [21]:
Y_pred = best_rfc.predict(X_test)
print(classification_report(Y_test , Y_pred))

              precision    recall  f1-score   support

           0       0.93      0.99      0.96      4488
           1       0.96      0.73      0.83      1239

    accuracy                           0.94      5727
   macro avg       0.95      0.86      0.89      5727
weighted avg       0.94      0.94      0.93      5727

In [22]:
with open('model.pkl' , 'wb') as file:
    pickle.dump(best_rfc , file)